.Header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

.chatContainer > * {
  margin-bottom: 10px;
}

.chatContainer {
  width: 100%;
  height: 80vh;
  background-color: #fafafa;
  padding: 20px;
  overflow-y: scroll;
}
.chats > p {
  font-size: 13px;
}
.senderName {
  text-align: right;
}
/* .chat-sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
  }
  .message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }
  .message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  } */
